
west-nile-virus-predictions/

Kaggle_SFO_crime_Dami/test.csv

Kaggle_SFO_crime_Dami/sfo_crime.csv

Kaggle_SFO_crime_Dami/test.csv.zip

Kaggle_SFO_crime_Dami/train.csv

Kaggle_SFO_crime_Dami/train.csv.zip

Kaggle_SFO_crime_Dami/sfo_crime

week-10/2.3-lab/assets/datasets/201408_babs_open_data.zip

dsi-sea-week04-1.5/

dsi-sea-week10-1.3/

foxyproxy-settings.xml

week-10/2.3-lab/assets/datasets/201408_babs_open_data/201408_station_data.csv

week-10/2.3-lab/assets/datasets/201408_babs_open_data/201408_status_data.csv

week-10/2.3-lab/assets/datasets/201408_babs_open_data/201408_trip_data.csv

week-10/2.3-lab/assets/datasets/201408_babs_open_data/201408_weather_data.csv
