
west-nile-virus-predictions/

Kaggle_SFO_crime_Dami/test.csv

Kaggle_SFO_crime_Dami/sfo_crime.csv

Kaggle_SFO_crime_Dami/test.csv.zip

Kaggle_SFO_crime_Dami/train.csv

Kaggle_SFO_crime_Dami/train.csv.zip

Kaggle_SFO_crime_Dami/sfo_crime

week-10/2.3-lab/assets/datasets/201408_babs_open_data.zip
